<span style="text-align:center;overflow:auto" *ngIf="equipment">
    <table class="fridge fridgetable">
      <tr class="fridge fridgerow">
        <td colspan="3" class="fridge">
          <h3>{{equipment.name}}</h3>
        </td>
      </tr>
      <tr class="fridge fridgerow">
        <td class="fridge">
          Quality: {{equipment.quality.name}}
        </td>
        <td class="fridge">
          Temperature: {{equipment.minTemp}}°F - {{equipment.maxTemp}}°F
        </td>
        <td class="fridge">
          Time: {{equipment.minTime}} min - {{equipment.maxTime}} min
        </td>
      </tr>
    </table>
  </span>