
<label>Components</label>
<!--<ul *ngIf="recipe.components">
    <div *ngFor="let recipeComp of recipe.components">
        <!-- this is giving me errors so i commented it out
        <li *ngIf="recipeComp.component.ingredient">
            <button class="btn btn-sm btn-danger" (click)="removeIngredient(recipeComp.component.ingredient)">x</button>
            <em>Ingredient:</em> {{recipeComp.component.ingredient.name}}
        </li>
        <li *ngIf="recipeComp.component.category">
            <button class="btn btn-sm btn-danger" (click)="removeCategory(recipeComp.component.category)">x</button>
            <em>Category:</em> {{recipeComp.component.category.name}}
        </li>
        <li *ngIf="recipeComp.component.flavor">
            <button class="btn btn-sm btn-danger" (click)="removeFlavor(recipeComp.component.flavor)">x</button>
            <em>Flavor:</em> {{recipeComp.component.flavor.name}}
        </li>
</ul>
    </div>-->
