<div class="container border" *ngIf="ingredient">
    <div class="row">
        <div class="col-sm border card">
          <h4 class="border border-dark mx-auto">{{ingredient.name}}</h4>
        <div class="col-sm">
          <div class="row">
            <div class="col">
              <h5>Category:</h5>
            </div>
            <div class="col">
              <p>{{ingredient.category.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>Quality:</h5>
            </div>
            <div class="col">
              <p>{{ingredient.quality.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>Flavor:</h5>
            </div>
            <span class="col">
              {{ingredient.flavor.name}}
            </span>
          </div>

          </div>
  
        </div>
      </div>
  </div>
