<span style="text-align:center;overflow:auto" *ngIf="ingredient">
  <table class="fridge fridgetable">
    <tr class="fridge fridgerow">
      <td colspan="3" class="fridge">
        <h3>{{ingredient.name}}</h3>
      </td>
    </tr>
    <tr class="fridge fridgerow">
      <td class="fridge">
        Category: {{ingredient.category.name}}
      </td>
      <td class="fridge">
        Quality: {{ingredient.quality.name}}
      </td>
      <td class="fridge">
        Flavor: {{ingredient.flavor.name}}
      </td>
    </tr>
  </table>
</span>