<div class="container"></div>
    <form>
        <label for="user">Username:</label>&nbsp;
        <input type="text" [(ngModel)]="person.username" name="user" required><br>
        <label for="pass">Password:</label>&nbsp;
        <input type="text" [(ngModel)]="person.password" name="pass" required><br>
        <label for="first">First Name:</label>&nbsp;
        <input type="text" [(ngModel)]="person.first" name="first"><br>
        <label for="last">Last Name:</label>&nbsp;
        <input type="text" [(ngModel)]="person.last" name="last"><br>
        <button type="button">Register</button>
    </form>
</div>