<table>
    <tr>
        <td class="fridge">
            <table>
                <tr>
                    <td class="fridge">
                        Status: {{activePost.status.name}}
                    </td>
                    <td class="fridge">
                        Owner: {{username.name}}
                    </td>
                    <td class="fridge">
                        Value: {{value.val}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="fridge">
            <ng-container *ngIf="isMaker()">
                <textarea [(ngModel)]="activePost.description"></textarea>
            </ng-container>
            <ng-container *ngIf="!isMaker()">
                <p>{{activePost.description}}</p>
            </ng-container>
        </td>
    </tr>
    <tr>
        <td class="fridge">
            <ng-container *ngIf="refresh">
                <h3>For Trade:</h3>
                <table class="fridgetable" style="text-align:center;overflow:auto" *ngFor="let i of postIng"
                    (click)="onIngClick(i)">
                    <ng-container *ngIf="i.quantity">
                        <tr class="fridge">
                            <td>
                                <h4>{{i.ingredient.name}}</h4>
                                <br>
                                <h5>Quantity: {{i.quantity}}</h5>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </ng-container>
        </td>
    </tr>
    <tr>
        <td class="fridge">
            <ng-container *ngIf="isMaker()">
                <br>
                <h3>Send Back to Inventory:</h3>
                <table>
                    <table class="fridgetable" style="text-align:center;overflow:auto" *ngFor="let i of returnIng"
                        (click)="onRetClick(i)">
                        <ng-container *ngIf="i.quantity">
                            <tr class="fridge">
                                <td>
                                    <h4>{{i.ingredient.name}}</h4>
                                    <br>
                                    <h5>Quantity: {{i.quantity}}</h5>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </table>
                <table>
                    <tr>
                        <td class="fridge">
                            <button class="btn" (click)="save()">Save</button>
                        </td>
                        <td class="fridge">
                            <button class="btn" (click)="cancel()">Go Back</button>
                        </td>
                        <td class="fridge">
                            <button class="btn danger" (click)="delete()">Delete Showcase</button>
                        </td>
                    </tr>
                </table>
            </ng-container>
        </td>
    </tr>
    <tr>
        <td class="fridge">
            <ng-container *ngIf="refresh">
                <ng-container *ngIf="isEditable()">
                    Current Offers:
                    <table>
                        <tr>
                            <td class="fridge">
                                Owner:
                            </td>
                            <td class="fridge">
                                Value:
                            </td>
                            <td class="fridge">
                                Ingredients:
                            </td>
                        </tr>
                        <ng-container *ngFor="let o of activePost.offers">
                            <tr>
                                <td class="fridge">
                                    {{nameOb.name}}
                                </td>
                                <td class="fridge">
                                    {{ovalue(o)}}
                                </td>
                                <td class="fridge" *ngFor="let i of [0,1,2]">
                                    <ng-container *ngIf="o.ingredients.length>i">
                                        {{o.ingredients[i].quantity}} {{o.ingredients[i].ingredient.name}}
                                    </ng-container>
                                </td>
                                <td class="fridge" *ngIf="isMaker()">
                                    <button class="btn" (click)="accept(o)">Accept</button>
                                </td>
                                <td class="fridge" *ngIf="isMaker()">
                                    <button class="btn" (click)="reject(o)">Reject</button>
                                </td>
                            <tr>
                                <td class="fridge" colspan="7">
                                    {{o.description}}
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </ng-container>
            </ng-container>
        </td>
    </tr>
    <tr>
        <td class="fridge">
            <ng-container *ngIf="isEditable()&&!isMaker()">
                <ng-container *ngIf="!activeOffer">
                    <button class="btn" (click)="makeOffer()">Make Offer</button>
                </ng-container>
                <ng-container *ngIf="activeOffer">
                    <app-offer [activeOffer]="activeOffer"></app-offer>
                </ng-container>
            </ng-container>
        </td>
    </tr>
</table>