<div *ngIf="recipe">
    <div class="row">
        <div class="col-sm-1">
            <button class="btn btn-warning" (click)="addRecipe()">Add</button>
        </div>
        <div class="col-sm-6">
            <label for="recipe">Recipe Name (required)</label>
            <input type="text" name="recipe" [(ngModel)]="recipe.name" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <label for="flavor">Recipe Flavor (required)</label>
            <select [(ngModel)]="recipe.flavor" (ngModelChange)="addRecipeFlavor($event)" name="flavor">
                <option *ngFor="let recipeFlavor of recipeFlavorList" [ngValue]="recipeFlavor">{{recipeFlavor.name}}</option>
            </select>
        </div>
        <div class="col-sm-5">
            <h4>Current Components</h4>
            <ul>
                <li *ngFor="let component of addedComponentList">
                    <div *ngIf="component.flavor">
                        <button class="btn btn-danger" (click)="remove(component)">x</button>
                        {{component.flavor.name}} x{{component.quantity}}
                    </div>
                    <div *ngIf="component.category">
                        <button class="btn btn-danger" (click)="remove(component)">x</button>
                        {{component.category.name}} x{{component.quantity}}
                    </div>
                    <div *ngIf="component.ingredient">
                        <button class="btn btn-danger" (click)="remove(component)">x</button>
                        {{component.ingredient.name}} x{{component.quantity}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h4>Select Component</h4>
            </div>
            <div class="row">
                <label for="add-ingredient">Ingredient</label>
                <select [(ngModel)]="ingredient" (ngModelChange)="addIngredient($event)" name="add-ingredient">
                    <option *ngFor="let ingredient of ingredientList" [ngValue]="ingredient">{{ingredient.name}}</option>
                </select>
            </div>
            <div class="row">
                <label for="add-category">Category</label>
                <select [(ngModel)]="category" (ngModelChange)="addCategory($event)" name="add-category">
                    <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
                </select>
            </div>
            <div class="row">
                <label for="add-flavor">Flavor</label>
                <select [(ngModel)]="flavor" (ngModelChange)="addFlavor($event)" name="add-flavor">
                    <option *ngFor="let flavor of flavorList" [ngValue]="flavor">{{flavor.name}}</option>
                </select>
            </div>
            <div class="row">
                <label for="add-quantity">Quantity</label>
                <div class="col-sm-4">
                    <input type="number" name="add-quantity" [(ngModel)]="addedComponent.quantity" />
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" (click)="addComponent()">Add</button>
            </div>
        </div>
    </div>
</div>