<div>
    <hr>
    <h2>Chef Store</h2>
    <!--<div>
        <button type="button" (click)="chooseIng()">Ingredients</button>
        <button type="button" (click)="chooseEqu()">Equipment</button
    </div>-->
    {{holder.ingredients.size}}
    Search: <input type="text" [(ngModel)]="searchText">

    <div *ngIf="choice === 1">
        <table class="fridgetable" style="text-align:center;overflow:auto"
            *ngFor="let i of personIngredients | ingredient:searchText">
            <tr class="fridge">
                <td>
                    <app-ingredient [ingredient]="i.ingredient" (click)="onClick(i)"></app-ingredient>
                </td>
            </tr>
            <tr class="fridge">
                <td>
                    <div class="fridge">Available Inventory: {{i.inventory}}</div>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="choice === 2">
        <div *ngFor="let e of personEquipments | equipment:searchText">
            <app-equipment [equipment]="e.equipment"></app-equipment>
        </div>
    </div>
</div>