<div style="display:table-row">
    <app-minifridge (add)="updateBasket()" [refresh]="refresh" [personIngredients]="pi" *ngIf="refresh.on"></app-minifridge>
    <!--<button type="button" (click)="chooseIng()">Ingredients</button>-->
    <!--<button type="button" (click)="chooseEqu()">Equipment</button>-->
    <!---Search: <input type="text" [(ngModel)]="searchText">-->
    <h3>Your Basket</h3>
    <div *ngIf="choice === 1">
        <table class="fridgetable" style="text-align:center;overflow:auto"
            *ngFor="let i of holder.ingredients | ingredient:searchText">
            <tr class="fridge">
                <td>
                    <app-ingredient [ingredient]="i.ingredient" (click)="onIngClick(i)"></app-ingredient>
                </td>
            </tr>
            <tr class="fridge">
                <td>
                    <div class="fridge">Available Inventory: {{i.inventory}}</div>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="choice === 2">
        <div *ngFor="let e of holder.equipments | equipment:searchText">
            <app-equipment [equipment]="e.equipment"></app-equipment>
        </div>
    </div>
</div>