<div *ngIf="recipe">
    <div class="row">
        <div class="col-sm-1">
            <button class="btn btn-caution" (click)="editRecipe()">Edit</button>
        </div>
        <div class="col-sm-6">
            <h3>{{recipe.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <h4>Flavor</h4>
            <p>{{recipe.flavor.name}}</p>
        </div>
        <div class="col-sm-4">
            <h4>Components</h4>
            <ul *ngIf="recipe.components">
                <div *ngFor="let component of recipe.components">
                    <li *ngIf="recipe.component.ingredient"><em>Ingredient:</em> {{recipe.component.ingredient.name}}</li>
                    <li *ngIf="recipe.component.category"><em>Category:</em> {{recipe.component.category.name}}</li>
                    <li *ngIf="recipe.component.flavor"><em>Flavor:</em> {{recipe.component.flavor.name}}</li>
                </div>
            </ul>
        </div>
    </div>
</div>

<!--
    id: number;
    name: string;
    components: Component[];
    flavor: Flavor;
-->