<div class="row">
    <div class="col-sm-4">
        <label>New Category</label>
    </div>
    <div class="col-sm-4">
        <label>Parent of Category</label>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4">
        <input type="text" name="category" [(ngModel)]="category.name" />
    </div>
    <div class="col-sm-4">
        <select ngModel (ngModelChange)="addParent($event)" name="parent">
            <option selected>Select if Applicable</option>
            <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
        </select>
        <!--<input type="text" name="parent" [(ngModel)]="category.parent" />-->
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row"><div class="col-sm-12"><br/></div></div>
<div class="row">
    <div class="col-sm-2">
<button class="btn btn-primary" (click)="add()">Add</button>
</div>
<div class="col-sm-2">
<button class="btn btn-warning" (click)="cancel()">Cancel</button>
</div>
<div class="col-sm-8"></div>
</div>

