@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css";

/* ***************************** TAGS ******************************** */

body {
    background-color: #df7722;
    color: #552222;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    background-color: #ffdd99;
    border-radius: 15px;
    color: #663322;
    text-align:left;
}

nav {
    background-color: #ffdd99;
    border-radius: 0px 0px 30px 30px;
    padding:15px;
    text-align:center;
}

a {
    color: #774433;
}

a:hover {
    background-color: #ffbb77;
    border-radius: 10px;
    text-decoration: none;
}

button {
    background-color: #ffbb77;
    border-radius: 10px;
    border: none;
    color: #552222;
    padding: 5px 10px;
}

button:hover {
    background-color: #dd8855;
    color:black;
}

form {
    display: table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

input {
    display: table-cell;
    width: 100%;
}

/* **************************** CLASSES ******************************* */

.my-nav-pill {
    padding:10px;
}

.my-nav-pill:hover {
    background-color: #ffbb77;
    border-radius: 15px;
}

/* ****************************** IDS ********************************* */