<div class="container">
  <span style="text-align:center"><h2>Marketplace</h2></span>
  <div style="margin:auto;display:table">
    <button type="button" class="my-nav-pill" (click)="store()" style="margin-right:10px">Store</button>
    <button type="button" class="my-nav-pill" (click)="market()">Market</button>
  </div>
  <br><br>
  <ng-container *ngIf="mode === 2">
    <app-classifieds></app-classifieds>
    <app-basket [pi]="ketchup" [refresh]="refresh"></app-basket>
  </ng-container>
  <br><br>
  <div>
  <ng-container *ngIf="mode === 1">
    <app-storebasket></app-storebasket>
    <br>
    <app-basket [pi]="ketchup" [refresh]="refresh"></app-basket>
    <br>
    <button class="btn" (click)="trade()">Trade</button>
  </ng-container>
  </div>
</div>