<div class="row">
    <div class="col-sm-3">
        <label for="recipe">Recipe</label>
        <input type="text" name="recipe" [(ngModel)]="recipe.name" />
    </div>
    <div class="col-sm-2">
        <label for="recipeFlavor">Current Flavor</label>
        {{recipe.flavor.name}}<br /><br />
        <p>Change flavor to:</p>
        <select [(ngModel)]="recipe.flavor" (ngModelChange)="changeRecipeFlavor($event)" name="recipeFlavor">
            <option *ngFor="let recipeFlavor of recipeFlavorList" [ngValue]="recipeFlavor">{{recipeFlavor.name}}</option>
        </select>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <h4>Components</h4>
        </div>
        <div class="row">
            <label>Component</label>
            <div *ngFor="let recipeComponents of addedComponentList">
                <div *ngIf="recipeComponents.flavor">
                    <button class="btn btn-danger btn-sm" (click)="remove(recipeComponents)">x</button>
                    <em>Flavor:</em> {{recipeComponents.flavor.name}} x{{recipeComponents.quantity}}
                </div>
                <div *ngIf="recipeComponents.category">
                    <button class="btn btn-danger btn-sm" (click)="remove(recipeComponents)">x</button>
                    <em>Category:</em> {{recipeComponents.category.name}} x{{recipeComponents.quantity}}
                </div>
                <div *ngIf="recipeComponents.ingredient">
                    <button class="btn btn-danger btn-sm" (click)="remove(recipeComponents)">x</button>
                    <em>Ingredient:</em> {{recipeComponents.ingredient.name}} x{{recipeComponents.quantity}}
                </div>
                <div *ngIf="recipeComponents.any">
                    <button class="btn btn-danger btn-sm" (click)="remove(recipeComponents)">x</button>
                    <em>Any Ingredient</em> x{{recipeComponents.quantity}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <h4>Add Components</h4>
        </div>
        <div class="row">
            <label for="add-ingredient">Ingredient</label>
            <select [(ngModel)]="ingredient" (ngModelChange)="addIngredient($event)" name="add-ingredient">
                <option *ngFor="let ingredient of ingredientList" [ngValue]="ingredient">{{ingredient.name}}</option>
            </select>
        </div>
        <div class="row">
            <label for="add-category">Category</label>
            <select [(ngModel)]="category" (ngModelChange)="addCategory($event)" name="add-category">
                <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
            </select>
        </div>
        <div class="row">
            <label for="add-flavor">Flavor</label>
            <select [(ngModel)]="flavor" (ngModelChange)="addFlavor($event)" name="add-flavor">
                <option *ngFor="let flavor of flavorList" [ngValue]="flavor">{{flavor.name}}</option>
            </select>
        </div>
        <div class="row">
            <label for="add-quantity">Quantity</label>
            <div class="col-sm-4">
                <input type="number" name="add-quantity" [(ngModel)]="addedComponent.quantity" />
            </div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
            <button class="btn btn-primary" (click)="addComponent()">Add</button>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12"><br /></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <button class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning" (click)="cancel()">Cancel</button>
            </div>
    </div>
</div>
