<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- database connection -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@revature-bootcamp.cll4hlpifqp4.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">cookdaddy</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		
		<!-- dialect, hibernate settings -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- <property name="show_sql">true</property> -->
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.id.new_generator_mappings">false</property>
		<property name="use_sql_comments">true</property>
		
		<!--  mapping to beans -->
		<mapping class="com.revature.beans.Category"/>
		<mapping class="com.revature.beans.Equipment"/>
		<mapping class="com.revature.beans.Flavor"/>
		<mapping class="com.revature.beans.Ingredient"/>
		<mapping class="com.revature.beans.Meal"/>
		<mapping class="com.revature.beans.Person"/>
		<mapping class="com.revature.beans.PersonEquipment"/>
		<mapping class="com.revature.beans.PersonIngredient"/>
		<mapping class="com.revature.beans.Quality"/>
		<mapping class="com.revature.beans.Recipe"/>
		<mapping class="com.revature.beans.Role"/>
		<mapping class="com.revature.beans.Season"/>
		<mapping class="com.revature.beans.Cookbook"/>
		<mapping class="com.revature.beans.RecipeComponent"/>
		<mapping class="com.revature.beans.Post"/>
		<mapping class="com.revature.beans.PostIngredient"/>
		<mapping class="com.revature.beans.Status"/>
		<mapping class="com.revature.beans.Offer"/>
		<mapping class="com.revature.beans.OfferIngredient"/>
	</session-factory>
</hibernate-configuration>