<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Ingredient</h4>
        </div>
        <div class="col-sm-3">
            <h4>Category</h4>
        </div>
        <div class="col-sm-3">
            <h4>Quality</h4>
        </div>
        <div class="col-sm-3">
            <h4>Flavor</h4>
        </div>
    </div>
    <app-ingredient-item-controller *ngFor="let ingredient of ingredients" [ingredient]="ingredient"></app-ingredient-item-controller>
    <div class="row">
        <div class="col-sm-12"><br /></div>
    </div>
    <app-ingredient-add-controller [ingredient]="ingredient" (created)="submitted()"></app-ingredient-add-controller>
</div>