<div class="row">
    <div class="col-sm-4">
        <label for="quality">Quality</label>
        <input type="text" name="quality" [(ngModel)]="quality.name" />
    </div>
    <div class="col-sm-8"></div>
</div>
<div class="row">
    <div class="col-sm-12"><br /></div>
</div>
<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-warning" (click)="cancel()">Cancel</button>
    </div>
    <div class="col-sm-8"></div>
</div>
